<!DOCTYPE html>
<html lang="es">
  <head></head>
  <body translate="no" >
    <form action="/register" method="post">
      <input type="text" placeholder="Full name/nombre completo" name="usuario" required>
      <input type="text" placeholder="Email/Correo electronico" name="correo" required>
      <input type="text" placeholder="Password/Contraseña" name="password" required>
      <input type="text" placeholder="Rol" name="rol" required>
      <input type="submit" value="Register">
    </form>
  </body>
</html>